{% extends 'base.html' %}
{% block content %}
<h1>{{post[0][0]}}</h1>
<br>
<p>{{post[0][2]}}</p>
<br>
<p>by {{post[0][4]}} {{post[0][5]}}</p>
<br>

<form action="/users/{{post[0][3]}}">
<button class="btn btn-outline-primary">Cancel</button>
</form>
<form action="/posts/{{post[0][1]}}/edit">
<button class="btn btn-primary">Edit</button>
</form>
<form action="/posts/{{post[0][1]}}/delete" method="POST">
<p><span>Tags:</span>{% for tag in Tags %}
    <button class="btn btn-primary btn-sm">{{tag.name}}</button>
    {% endfor %}
</p>
<button  class="btn btn-danger"> Delete</button>
</form>

{% endblock %}