{% extends 'base.html' %}

{% block content %}
<div>
    <img class="" src="{{ user.image_url }}" alt="https://via.placeholder.com/150">
</div>
<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<form action="/users/{{user.id}}/edit">
    <button class="btn btn-primary">Edit</button>
</form>
<form action="/users/{{user.id}}/delete" method="POST"><button class="btn btn-danger">Delete</button>
</form>
<h2>Posts</h2>
<ul>
{% for post in posts %}
<li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
{% endfor %}
</ul>
<form action="/users/{{user.id}}/posts/new"><button class="btn btn-primary" >Add Post</button></form>
{% endblock %}